.homeIcon {
    width: 24px;
    position: relative;
    height: 24px;
}
.AddCircleIcon {
    width: 24px;
    position: relative;
    height: 24px;
    color: #FF0B55;
}
.tab1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 15px;
}
.searchIcon {
    width: 18px;
    position: relative;
    height: 18px;
}
.tab2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 15px;
    cursor: pointer;
}
.tab3Child {
    width: 24px;
    position: relative;
    border-radius: 50px;
    height: 24px;
    object-fit: cover;
}
.tabBarButtons {
    position: absolute;
    width: calc(100% + 1px);
    top: 7px;
    right: -1px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    box-sizing: border-box;
}
.tabBar {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 769px;
    left: 0px;
    background-color: #fff;
    border-top: 1px solid #000;
    box-sizing: border-box;
    height: 83px;
}

