.chatInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative; /* To position the pseudo-element relative to this container */
  }
  
  /* .chatInputContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd; 
  } */
  
  .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #fff;
    padding: 5px 10px;
  }
  
  .plusIcon {
    font-size: 30px;
    color: #888;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .inputField {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
  }
  
  .sendButton {
    background-color: #ff004f !important;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .sendIcon {
    color: #fff;
    transform: rotate(-90deg);
  }
  
  .sendButton:hover {
    background-color: #d40040 !important;
  }
  