.dateSelect {
    width: 84px;
    position: relative;
    border-radius: 6px;
    background-color: #eeeeef;
    height: 111px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 11px;
    box-sizing: border-box;
    gap: 5px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.52);
    font-family: 'Noto Sans';
  }
  
  .selectedDate {
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
    margin-top: 10px;
  }
  