@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.portalPopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  animation: fadeIn 0.35s ease;
}

.centered {
  align-items: center;
  justify-content: center;
}

.topLeft {
  align-items: flex-start;
  justify-content: flex-start;
}

.topCenter {
  align-items: flex-start;
  justify-content: center;
}

.topRight {
  align-items: flex-start;
  justify-content: flex-end;
}

.bottomLeft {
  align-items: flex-end;
  justify-content: flex-start;
}

.bottomCenter {
  align-items: flex-end;
  justify-content: center;
}

.bottomRight {
  align-items: flex-end;
  justify-content: flex-end;
}
