.profile {
  display: flex;
  height: 211px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.profile h3,
.profile p {
  margin: 0;
}
