.profileEditContainer {
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 40px;
}

.formContainer {
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.customButton {
  background-color: #ff0b55;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.customButton:hover {
  background-color: #d0094a;
}
