.div {
    flex: 1;
    position: relative;
    line-height: 100%;
}
.input {
    width: 236px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
}
.titleForm {
    width: 234px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.year {
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
}
.date {
    border-radius: 6px;
    background-color: rgba(120, 120, 128, 0.12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 11px;
}
.time {
    border-radius: 6px;
    background-color: rgba(120, 120, 128, 0.12);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 11px;
    color: rgba(0, 0, 0, 0.5);
}
.dateAndTimeCompactColl {
    width: 200px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: center;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.52);
    font-family: 'Noto Sans';
}
.titleFormParent {
    width: 250px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
}
.thumbnailIcon {
    width: 60px;
    position: relative;
    border-radius: 7.5px;
    height: 88px;
    object-fit: cover;
}
.phxBoldIcon {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
}
.closeButton {
    width: 30px;
    border-radius: 1000px;
    background-color: rgba(120, 120, 128, 0.12);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #b3b3b3;
}
.div1 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    height: 22px;
    flex-shrink: 0;
}
.month {
    width: 0px;
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
    display: none;
}
.date1 {
    border-radius: 6px;
    background-color: rgba(120, 120, 128, 0.12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 11px;
    gap: 5px;
    color: rgba(0, 0, 0, 0.52);
}
.time2 {
    border-radius: 6px;
    background-color: rgba(120, 120, 128, 0.12);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 11px;
}
.div2 {
    width: 25px;
    position: relative;
    font-size: 13px;
    letter-spacing: -0.43px;
    line-height: 22px;
    color: #000;
    display: inline-block;
    height: 22px;
    flex-shrink: 0;
}
.vectorIcon {
    width: 11.8px;
    position: relative;
    height: 11.8px;
}
.dateParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    color: rgba(0, 0, 0, 0.5);
}
.div3 {
    position: absolute;
    top: 2px;
    left: 14px;
    letter-spacing: -0.43px;
    line-height: 22px;
    display: inline-block;
    width: 93px;
    height: 20px;
}
.addIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
}
.parent {
    width: 107px;
    position: relative;
    height: 24px;
    color: #000;
}
.sellerTime {
    position: absolute;
    top: 108px;
    left: 0px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
    text-align: center;
    font-size: 17px;
    font-family: 'Noto Sans';
}
.div4 {
    width: 100px;
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
    display: inline-block;
    height: 22px;
    flex-shrink: 0;
}
.addIcon1 {
    width: 24px;
    position: relative;
    height: 24px;
}
.addParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    color: #000;
}
.sellerAddress {
    position: absolute;
    top: 230px;
    left: 0px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 17px;
    font-family: 'Noto Sans';
}
.sellerItemChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 361px;
    height: 1px;
}
.div6 {
    width: 356px;
    position: relative;
    line-height: 100%;
    font-weight: 600;
    display: inline-block;
    height: 23px;
    flex-shrink: 0;
}
.wrapper {
    position: absolute;
    top: 7px;
    left: 7.8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 347.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 0px;
}
.div7 {
    width: 266px;
    position: relative;
    line-height: 140%;
    display: flex;
    align-items: center;
    height: 57px;
    flex-shrink: 0;
}
.div8 {
    position: relative;
    line-height: 140%;
}
.item {
    position: absolute;
    top: 50px;
    left: 8.78px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 338.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: 'Noto Sans KR';
}
.sellerItem {
    position: absolute;
    top: 304px;
    left: 0px;
    width: 360px;
    height: 107px;
    color: #303030;
}
.headerParent {
    width: 360px;
    position: relative;
    height: 411px;
    z-index: 0;
}
.addIcon2 {
    width: 24px;
    position: relative;
    height: 24px;
    z-index: 1;
}
.button1 {
    position: relative;
    line-height: 100%;
}
.button {
    border-radius: 8px;
    background-color: #ff0b55;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    z-index: 2;
    color: #f5f5f5;
}
.sellerformChild {
    width: 20px;
    position: absolute;
    margin: 0 !important;
    top: 57px;
    left: 295px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.64);
    height: 20px;
    z-index: 3;
}
.sellerform {
    width: 100%;
    position: relative;
    border-radius: 24px;
    background-color: #fff;
    border-bottom: 0.3px solid rgba(84, 84, 86, 0.34);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 19px 5px;
    gap: 54px;
    text-align: left;
    font-size: 16px;
    color: #2e2e2e;
    font-family: Inter;
}

