@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3000;
}

.modalContent {
  background-color: white;

  border-radius: 8px 8px 0 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 81%;
  overflow-y: auto;
  animation: fadeIn 0.35s ease;
}

.thumbnailContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5); /* 이미지 어둡게 */
}

.titleOverlay {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.author,
.liveDate,
.tradePlace {
  margin: 2px 0;
}

.modalBody {
  margin-top: 20px;
}

.productList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.productName {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}
.productPrice {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}
.productName,
.productPrice {
  flex: 1;
  font-size: 16px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listtitle {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}
.liveDate {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.tradeplacetext {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.author {
  font-weight: bold;
}

.bookmarkIcon {
  color: #ff0b55; /* 원하는 색상으로 설정 */
  margin-left: 8px; /* 아이콘과 타이틀 텍스트 사이에 간격을 둠 */
  font-size: x-large;
}

.titleText {
  display: inline-block; /* 인라인 블록 요소로 설정 */
}
